# grok-auto-bot configuration
MAILLDEZ_URL=https://tempmail-worker.ilhmlnaa.workers.dev
MAILLDEZ_DOMAINS=zenime.online,devnet.my.id
PASSWORD=GrokAuto123!

# 9router — auto add akun ke dashboard
ROUTER9_URL=https://router.hamdiv.me
ROUTER9_PASS=ilhmlnaa
